.editor-main-container{
    display: flex;
    padding: 2em;
    gap:4em;

}

.editor{
    display: flex;
    margin-top: 2em;
    gap: 2em;
}
.imagefromeditor{
    width: 20em;
    
    
}
.title1{
    display: block;
    width: 21em;
}
.deseditor{
    display: block;
    width: 20em;

}
.right-editor{
    display: flex;
    margin-top: 4em;
}
.imagefromeditor1{
    width: 10em;
}
.title2{
    display: block;
    width: 10em;
}
.magefromeditor1{
    width: 15em;
}
.right-container{
    margin-top: 2em;
}
