.EditorTrending-container{
    display: flex;
    padding: 2em;
    justify-content: center;
    column-gap: 4em;
    margin-top: 2em;

}
.editor-post{
    display: flex;
    
    margin-top: 1em;
    
}
.lefteditorlogo{
    margin-left: 1.2em;
}
