
.trentitle{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.trennews{
    font-size: 15px;
}
.trendate{

    font-family: 'Courier New', Courier, monospace;

    color:gray;
    font-size: 13px;
}