.TopNav-main-Container{
    margin-top: 2em;
}
.TopNavContainer{

    display: flex;
   justify-content: center;
   justify-content: space-evenly;

}
.search-icon-main-container{
    display: flex;
    gap:1em;
    
}
/*
.search-Container{
display: flex;

}
.logoContainer{
    display: inline;
}
.logoText{
    margin-left: 10em;
}





 */
