.carauselmaincontainer{  
    background-color: azure;
    margin-top: 2em;
    
    
}


   
.details{
    display: flex;
    padding: 1em;
    text-align: center;
    margin: 1em;
   
 
} 


.imagefromCarousel{
  width: 35em;
}
.Description-text{


    background-color: aliceblue;
    margin: 1em;
   
}



