.carauselmaincontainer{  
    background-color: azure;
    margin-top: 2em;
    
    
}


  
.details{
    display: flex;
    padding: 1em;
    text-align: center;
   
 
}


.imagefromCarousel{
  width: 35em;
}

.DescriptionContainer{
    margin: auto;
    background-color: gainsboro;

    font-size: 18px;

}


