.send-btn-msg{
    
    margin-left: 3em;
  

}
.sendmsg h3{
  color: white;
}
.sendmsg {
   background-color: green;
    border: none;
    
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
   border-radius: 2em;
    font-size: 16px;
  }
  button:hover{
    background-color: black;
  }